<div class="crew-section">
  <app-background-page
    [desktop]="'assets/images/crew/background-crew-desktop.jpg'"
    [tablet]="'assets/images/crew/background-crew-tablet.jpg'"
    [mobile]="'assets/images/crew/background-crew-mobile.jpg'"
  ></app-background-page>

  <div *ngIf="data$ | async as data" class="crew container page-content">
    <h5><strong>02</strong>{{ "Meet your crew" | uppercase }}</h5>
    <div class="img-container">
      <img [src]="baseAssetsUrl + data.selected?.images.png" />
    </div>
    <div class="h-separator"></div>
    <div class="image-stepper">
      <input
        *ngFor="let person of data.list; let i = index"
        type="radio"
        name="a"
        (click)="setCurrentData(person)"
        [checked]="i == 0"
      />
    </div>
    <h6>{{ data.selected?.role }}</h6>
    <h4>{{ data.selected?.name | uppercase }}</h4>
    <p>{{ data.selected?.bio }}</p>
  </div>
</div>
