<div class="crew-section">
  <app-background-page
    [desktop]="'assets/images/crew/background-crew-desktop.jpg'"
    [tablet]="'assets/images/crew/background-crew-tablet.jpg'"
    [mobile]="'assets/images/crew/background-crew-mobile.jpg'"
  ></app-background-page>

  <div class="crew container page-content">
    <h5><strong>02</strong>{{ "Meet your crew" | uppercase }}</h5>
    <div class="img-container" *ngIf="currentSpace">
      <img [src]="baseUrl + currentSpace.images.png" />
    </div>
    <div class="h-separator"></div>
    <div class="image-stepper">
      <input
        *ngFor="let person of spaceData$ | async; let i = index"
        type="radio"
        name="a"
        (click)="setCurrentSpace(person)"
        [checked]="i == 0"
      />
    </div>
    <h6>{{ currentSpace?.role }}</h6>
    <h4>{{ currentSpace?.name | uppercase }}</h4>
    <p>{{ currentSpace?.bio }}</p>
  </div>
</div>
