// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h6,
label {
  color: $white;
  margin: 0;
}
h1 {
  @include font(80px, 100px);
}

h2 {
  @include font(100px, 115px);
}

h3 {
  @include font(56px, 64px);
}

h4 {
  @include font(32px, 37px);
}

h5 {
  @include font(16px, 19px, $secondary-text-font);
  letter-spacing: 2.7px;
  color: $primary-color;
  margin: 0;

  strong {
    font-weight: 700;
    color: $white;

    mix-blend-mode: normal;
    opacity: 0.25;
  }
}

h6 {
  @include font(28px, 32px);
  text-transform: uppercase;
}

span {
  @include font(14px, 17px, $secondary-text-font);
  display: block;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
}

a {
  @include font(16px, 19px, $secondary-text-font);
  letter-spacing: 2.7px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

p {
  @include font(15px, 25px, $common-text-font);
  margin: 0;
}
