// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/// Bellefair Regular
@font-face {
  font-family: 'Bellefair';
  src: url(/src/assets/fonts/Bellefair-Regular.ttf) format('truetype');
}

/// Barlow Condensed
@font-face {
  font-family: 'Barlow Condensed';
  src: url(/src/assets/fonts/BarlowCondensed-Regular.ttf) format('truetype');
}

/// Barlow
@font-face {
  font-family: 'Barlow';
  src: url(/src/assets/fonts/Barlow-Regular.ttf) format('truetype');
}

