// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.bg-home {
  @extend .bg-default;
}
.home-content {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 88px;

  h5 {
    margin-top: 24px;
  }

  h1 {
    margin: 16px 0;
  }

  p {
    text-align: center;
  }
}

