// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  margin: 0 24px;

  .expand-menu.expanded {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .header-line {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  header {
    height: 96px;
    margin: 0 0 0 39px;
  }

  .expand-menu {
    display: none;
  }

  .header-line {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  header {
    margin: 40px 0 0 55px;
  }

  .header-line {
    position: absolute;
    display: block;
    height: 1px;
    left: 167px;
    right: 800px;
    top: 88px;

    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 200;
  }
}
