// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Primary font family
/// @type Font Family
$primary-text-font: 'Bellefair', serif !default;

/// Secondary font family
/// @type Font Family
$secondary-text-font: 'Barlow Condensed', sans-serif !default;

/// Common font family
/// @type Font Family
$common-text-font: 'Barlow', sans-serif !default;

/// Color
/// @type Color
$primary-color: hsl(231, 77%, 90%);

/// Color
/// @type Color
$secondary-color: hsl(230, 35%, 7%);


/// Color
/// @type Color
$white: hsl(0, 0%, 100%);





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 376px,
  'medium': 769px,
  'large': 1440px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '~assets/' !default;
