// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/// Bellefair Regular
@font-face {
  font-family: 'Bellefair';
  src: font('Bellefair-Regular.ttf') format('truetype');
}

/// Barlow Condensed
@font-face {
  font-family: 'Barlow Condensed';
  src: font('BarlowCondensed-Regular.ttf') format('truetype');
}

/// Barlow
@font-face {
  font-family: 'Barlow';
  src: font('Barlow-Regular.ttf') format('truetype');
}

