<div class="technology-section">
  <app-background-page
    [desktop]="'assets/images/technology/background-technology-desktop.jpg'"
    [tablet]="'assets/images/technology/background-technology-tablet.jpg'"
    [mobile]="'assets/images/technology/background-technology-mobile.jpg'"
  ></app-background-page>

  <div class="container page-content">
    <h5><strong>03</strong>{{ "Space launch 101" | uppercase }}</h5>
  </div>
  <div *ngIf="currentSpace" class="tech-image">
    <img [src]="baseUrl + currentSpace.images.landscape" alt="image-tech"/>
  </div>
  <div class="container page-content no-pt">
    <div class="toggle-buttons-group">
      <button
        *ngFor="let technology of spaceData$ | async; let i = index"
        class="toggle-button"
        [ngClass]="{
          active: activeIndex === i,
          'ml-16': i !== 0
        }"
        (click)="setCurrentSpace(technology, i)"
      >
        <span>{{ i + 1 }}</span>
      </button>
    </div>
    <h6>THE TERMINOLOGY…</h6>
    <h4>{{ currentSpace?.name | uppercase }}</h4>
    <p>{{ currentSpace?.description }}</p>
  </div>
</div>
