// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.bg-home {
  background: image("home/background-home-mobile.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.home-content {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 88px;

  h5 {
    margin-top: 24px;
  }

  h1 {
    margin: 16px 0;
  }

  p {
    text-align: center;
  }
}

@media (min-width: map-get($breakpoints, "small")) {
  .bg-home {
    background-image: image("home/background-home-tablet.jpg");
    background-size: cover;
  }
}

@media (min-width: map-get($breakpoints, "medium")) {
  .bg-home {
    background-image: image("home/background-home-desktop.jpg");
    background-position: right;

  }
}
