// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &.big-button {
    @include font(20px, 23px);
    color: $secondary-color;
    text-align: center;
    letter-spacing: 1.25px;

    height: 150px;
    width: 150px;
    background-color: $white;
    margin-top: 81px;
    border-radius: 50%;
  }
}
