// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &.big-button {
    @include font(20px, 23px);
    color: $secondary-color;
    text-align: center;
    letter-spacing: 1.25px;

    height: 150px;
    width: 150px;
    background-color: $white;
    margin-top: 81px;
    border-radius: 50%;
  }

  &.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    span {
      @include font(16px, 18px);
      color: #ffffff;
      position: absolute;
      letter-spacing: 0;
    }
  }

  &.toggle-button::before {
    content: "";
    display: block;
    mix-blend-mode: normal;
    opacity: 0.25;
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &.toggle-button:hover::before,
  &.toggle-button.active::before {
    opacity: 1;
  }
  &.toggle-button.active {
    background-color: #ffffff;
    span {
      color: $secondary-color;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  button {
    &.toggle-button {
      span {
        @include font(24px, 27.5px);
      }
    }
    &.toggle-button::before {
      width: 60px;
      height: 60px;
    }
  }
}
