nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 254px;
  height: 100vh;
  z-index: 100;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  transform: translateX(100%);
  transition: transform 0.3s ease;

  &.expanded {
    transform: translateX(0%);
  }

  button {
    position: absolute;
    top: 30px;
    right: 25px;
  }

  ul {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    margin-top: 113px;

    li {
      list-style-type: none;
      a {
        display: flex;
        align-items: center;
        height: 31px;
        width: 100%;

        &.active {
          border-right: 4px solid $white;
        }

        &:hover:not(.active) {
          border-right: 4px solid rgba(255, 255, 255, 0.5);
          mix-blend-mode: normal;
        }
        strong {
          margin-right: 11px;
        }
      }
    }
  }
}
