nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 254px;
  height: 100vh;
  z-index: 100;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  transform: translateX(100%);
  transition: transform 0.3s ease;

  &.expanded {
    transform: translateX(0%);
  }

  button {
    position: absolute;
    top: 30px;
    right: 25px;
  }

  ul {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    margin-top: 113px;

    li {
      list-style-type: none;
      a {
        display: flex;
        align-items: center;
        height: 31px;
        width: 100%;

        &.active {
          border-right: 4px solid $white;
        }

        &:hover:not(.active) {
          border-right: 4px solid rgba(255, 255, 255, 0.5);
          mix-blend-mode: normal;
        }
        strong {
          margin-right: 11px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  nav {
    position: absolute;
    height: 100%;
    width: auto;
    transform: none;
    backdrop-filter: blur(40.7742px);

    .nav-line {
      display: none;
    }

    button {
      display: none;
    }

    ul {
      flex-flow: row nowrap;
      gap: 37px;
      margin: 0;
      padding: 0 46px;

      li {
        a {
          height: 96px;
          @include font(14px, 17px, $secondary-text-font);
          letter-spacing: 2.36px;
          border-bottom: 4px solid transparent;

          &.active {
            border-right: none;
            border-bottom: 4px solid hsl(0, 0%, 100%);
          }

          &:hover:not(.active) {
            border-right: none;
            border-bottom: 4px solid rgba(255, 255, 255, 0.5);
            mix-blend-mode: normal;
          }

          strong {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  nav {
    width: 830px;
    height: 96px;
    top: 40px;

    ul {
      gap: 48px;
      padding: 0 165px 0 123px;

      li {
        a {
          @include font(16px, 19px, $secondary-text-font);
          letter-spacing: 2.7px;

          strong {
            display: block;
          }
        }
      }
    }
  }
}
